In [4]:
import numpy as np
import pandas as pd

AttributeError: partially initialized module 'pandas' has no attribute 'compat' (most likely due to a circular import)

In [4]:
import os
print(os.listdir("../input"))

FileNotFoundError: [WinError 3] The system cannot find the path specified: '../input'

In [3]:
!pip install Faker

Collecting Faker
  Downloading Faker-6.5.0-py3-none-any.whl (1.1 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\vinay\anaconda3\lib\site-packages (from Faker) (2.8.1)
Collecting text-unidecode==1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: six>=1.5 in c:\users\vinay\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: text-unidecode, Faker
Successfully installed Faker-6.5.0 text-unidecode-1.3

In [ ]:
from faker import Faker

Creating a dataset

In [ ]:
#Create fake data using Faker
fake_data=Faker()

We are going to create multiple lists of variables of length 200 and then put it all in one data set.

In [ ]:
#Let's create a list of 200 fake names first
def create_names(n):
    name=[]
    for _ in range(0,n):
        name.append(fake_data.name())
    return name

In [ ]:
name=create_names(200)

In [ ]:
name[:10]

In [ ]:
#Create a list of countries
def create_country(n):
    nation=[]
    for _ in range(0,n):
        nation.append(fake_data.country())
    return nation

In [ ]:
country=create_country(200)

In [14]:
country[:10]

['Germany',
 'Seychelles',
 'Saint Lucia',
 'Benin',
 'Zambia',
 'China',
 'Micronesia',
 'Nicaragua',
 'Serbia',
 'American Samoa']

In [16]:
#Create a list of age from 21 to 98 (integers)
age=np.random.randint(21,99,size=200,dtype='int')

In [17]:
#Create a list to fake dates
def create_date(n):
    member_since=[]
    for _ in range(0,n):
        member_since.append(fake_data.date_this_century())
    return member_since

In [18]:
date=create_date(200)

In [19]:
#create a list of fake jobs
def create_job(n):
    job=[]
    for _ in range(0,n):
        job.append(fake_data.job())
    return job

In [20]:
occupation=create_job(200)

In [21]:
#Create a list of fake credit card types
def create_credit(n):
    card=[]
    for _ in range(0,n):
        card.append(fake_data.credit_card_provider())
    return card

In [22]:
card=create_credit(200)

In [23]:
# Create a fake location in US
def create_location(n):
    location = []
    for _ in range(0, n):
        location.append(fake_data.local_latlng(country_code = "US"))
    return location

In [24]:
location = create_location(200)

In [25]:
# Create a list of values 0 and 1, where 1 = married
married = np.random.randint(0,2, size = 200)

In [26]:
# Create a list of randomly picked races from the list of 4 races
def create_race(n):
    race = []
    for _ in range(0, n):
        race.append(fake_data.random_element(elements = ("White", "Hispanic", "Black", "Asian")))
    return race

In [27]:
races = create_race(200)

In [28]:
# Now create 3 list of integers just to have some numerical data
salary = np.random.randint(10000, 120000, size = 200, dtype = 'int')
savings = np.random.randint(0, 50000, size = 200, dtype = 'int')
rent = np.random.randint(500, 3001, size = 200, dtype = 'int')

In [29]:
# Now, connect all columns into one data set
data = pd.DataFrame(list(zip(name, country, age, date, occupation, card, location, married,
                            races, salary, savings, rent)),
                   columns = ['Name', 'Place_of_Birth', 'Age', 'Member_Since', 'Job',
                              'Card', 'Location', 'Married', 'Race', 'Salary', 'Savings',
                              'Rent'])

In [30]:
# Let's see how the data looks like
data.head()

,Name,Place_of_Birth,Age,Member_Since,Job,Card,Location,Married,Race,Salary,Savings,Rent
0,Daniel Austin,Germany,72,2012-10-03,Public affairs consultant,VISA 19 digit,"(45.0408, -93.263, Columbia Heights, US, Ameri...",0,Asian,47508,48473,2940
1,Colton Meyer,Seychelles,71,2000-10-31,Translator,VISA 16 digit,"(41.66394, -83.55521, Toledo, US, America/New_...",0,Hispanic,40111,6329,1361
2,Joseph Davis,Saint Lucia,52,2000-05-23,International aid/development worker,JCB 15 digit,"(28.90054, -81.26367, Deltona, US, America/New...",0,White,18467,39048,2373
3,Chase Keller,Benin,53,2002-07-23,Herpetologist,American Express,"(41.66394, -83.55521, Toledo, US, America/New_...",1,Hispanic,93190,32141,1749
4,Scott Bailey,Zambia,53,2019-08-13,Advice worker,JCB 16 digit,"(40.24537, -75.64963, Pottstown, US, America/N...",1,Black,85361,22755,2143

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            200 non-null    object
 1   Place_of_Birth  200 non-null    object
 2   Age             200 non-null    int64
 3   Member_Since    200 non-null    object
 4   Job             200 non-null    object
 5   Card            200 non-null    object
 6   Location        200 non-null    object
 7   Married         200 non-null    int64
 8   Race            200 non-null    object
 9   Salary          200 non-null    int64
 10  Savings         200 non-null    int64
 11  Rent            200 non-null    int64
dtypes: int64(5), object(7)
memory usage: 18.9+ KB

In [32]:
# Perfect, let's create another set based on time
datelist = pd.date_range('2010-01-01', periods = 200)
sales = np.random.randint(100, 1100, size = 200, dtype = 'int')
profit = np.random.uniform(10000, 1000000, size = 200)

data2 = pd.DataFrame(list(zip(datelist, sales, profit)),
                   columns = ['Date', 'Sales', 'Profit'])

In [33]:
data2.head()

        Date  Sales         Profit
0 2010-01-01    447  959779.136655
1 2010-01-02    178   11951.206466
2 2010-01-03    794  341907.025072
3 2010-01-04    623  653222.613879
4 2010-01-05   1013  865967.636494

In [34]:
data.to_excel(r'C:\Users\Vinay\Downloads\Untitled Folder\identification.xlsx', index = False)